<!DOCTYPE html>
<html>
<head>
	<title>NV_Regression</title>
	<script>
	function showHide(Id1,Id2)
	{
		if(document.getElementById(Id1).checked == true)
		{
			document.getElementById(Id2).style.display="block";
		}
		else 
		{
			document.getElementById(Id2).style.display="none";
		}
	}
	</script>
	<style>
	</style>
</head>
<!--<body style="background-image:url('NVIDIA.png');background-position: center;background-size: cover;">-->
<body>
{% if user.is_authenticated %}
	<form action="test" method="post">
		{% csrf_token %}
		<p style="text-align:right;"><a href = "/logout">Logout</a></p>
		<p id = "System_Detail" >
			Enter System's id(s) seperated by comma : <input type = "string" name="System_IDs">&emsp;<a href = "/systemDatabase">Check your setup's Id</a><br>
		</p>
		
		<br>
		
		<p id = "is_VBIOS_Flash">
			<input type="checkbox" name="is_VBIOS_Regression" value="is_VBIOS_Regression" id="is_VBIOS_Regression" onclick="showHide('is_VBIOS_Regression','VBIOS_Regression_Detail')"/>
			<label for="is_VBIOS_Regression">Select to flash VBIOS</label><br>
			<p id = "VBIOS_Regression_Detail" style="display:none;">
				Select the parameters to go with nvflash: <br>
				<input type="checkbox" name="param0" value="-4" id="param0">
				<label for="param0">-4</label>
				<input type="checkbox" name="param1" value="-5" id="param1">
				<label for="param1">-5</label>
				<input type="checkbox" name="param2" value="-6" id="param2">
				<label for="param2">-6</label>
				<br><br>
				For a specific VBIOS, enter the complete VBIOS path : <input type = "string" name="VBIOS_Directory"><br><br>
				OR<br><br>
				Enter VBIOS id : <input type="string" name="VBIOS_ID">&emsp;<a href = "/vbiosInfo">Check VBIOS Id </a><br>
				<input type="checkbox" name="is_VBIOS_Shmoo" value="is_VBIOS_Shmoo" id="is_VBIOS_Shmoo" onclick="showHide('is_VBIOS_Shmoo','VBIOS_Shmoo_Detail')"/>
				<label for="is_VBIOS_Shmoo">Select for VBIOS shmoo</label><br>
				OR<br>
				<input type="checkbox" name="is_CL_Based_Shmoo" value="is_CL_Based_Shmoo" id="is_CL_Based_Shmoo" onclick="showHide('is_CL_Based_Shmoo','VBIOS_Shmoo_Detail')"/>
				<label for="is_CL_Based_Shmoo">Select the checkbox if shmoo needed is cl based</label><br>
				<p id = "VBIOS_Shmoo_Detail" style="display:none";>
					Enter initial VBIOS version : <input type = "string" name="VBIOS_Shmoo_Initial"><br>
					Enter final VBIOS version : <input type = "string" name="VBIOS_Shmoo_Final"><br>
				</p>
			</p>
		</p>
		
		<br>
		
		<p id = "is_MODS_Test">
			<input type="checkbox" name="is_MODS_Regression" value="is_MODS_Regression" id="is_MODS_Regression" onclick="showHide('is_MODS_Regression','MODS_Detail')"/>
			<label for="is_MODS_Regression">Select for MODS Test </label><br>
			<p id = "MODS_Detail" style="display:none;">
				Enter MODS Family (ex: R400, R450) : <input type = "string" name="MODS_Family"><br><br>
				Select the MODS test:<br>
				<input type="checkbox" name="Test0" value="MODS init" id="Test0">
				<label for="Test0">Perform MODS init test</label><br>
				<input type="checkbox" name="Other_Test" value="Other_Test" id="Other_Test">
				<label for="Other_Test">Other MODS Test,</label>
				MODS Test Number:<input type ="string" name = "MODS_Test_Number"><br><br>
				Mention all the arguments for the MODS test:<input type="string" name = "MODS_Test_Arguments"><br><br>
				
				<input type="checkbox" name="is_MODS_Shmoo" value="is_MODS_Shmoo" id="is_MODS_Shmoo" onclick="showHide('is_MODS_Shmoo','MODS_Shmoo_Detail')"/>
				<label for="is_MODS_Shmoo">Select for MODS shmoo </label><br>
				<p id = "MODS_Shmoo_Detail" style="display:none;">
				Enter initial MODS version:<input type = "string" name="MODS_Shmoo_Initial"><br>
				Enter final MODS version:<input type = "string" name="MODS_Shmoo_Final"><br>
				</p>
			</p>
		</p>
		
		<br>
		
		<p id = "is_Driver_Test">
			<input type="checkbox" name="is_DRIVER_Regression" value="is_DRIVER_Regression" id="is_DRIVER_Regression" onclick="showHide('is_DRIVER_Regression','DRIVER_Detail')"/>
			<label for="is_DRIVER_Regression">Select to install Display Driver</label><br>
			<p id = "DRIVER_Detail" style="display:none;">
				Enter DRIVER Family: <input type = "string" name="DRIVER_Family"><br>
				<input type="checkbox" name="is_DRIVER_Shmoo" value="is_DRIVER_Shmoo" id="is_DRIVER_Shmoo" onclick="showHide('is_DRIVER_Shmoo','DRIVER_Shmoo_Detail')"/>
				<label for="is_DRIVER_Shmoo">Select for DRIVER shmoo </label><br>
				<p id = "DRIVER_Shmoo_Detail" style="display:none;">
				Enter initial DRIVER version:<input type = "string" name="DRIVER_Shmoo_Initial"><br>
				Enter final DRIVER version:<input type = "string" name="DRIVER_Shmoo_Final"><br>
				</p>
			</p>
		</p>
		
		<br>
		
		<p id = "Autochar_Tests">
			<input type="checkbox" name="is_Autochar" value="is_Autochar" id="is_Autochar" onclick="showHide('is_Autochar','Autochar_Detail')"/>
			<label for="is_Autochar">Perform Tests in Autochar</label><br>
			<p id = "Autochar_Detail" style="display:none;">
				Select the apps in Autochar that needs to run:<br>
				<input type="checkbox" name="app1" value="CuDNN" id="app1">
				<label for="app1">CuDNN</label>
				<input type="checkbox" name="app2" value="CuBlas" id="app2">
				<label for="app2">CuBlas</label>
				<input type="checkbox" name="app3" value="TensorRT" id="app3">
				<label for="app3">TensorRT</label>
				<input type="checkbox" name="app4" value="3DMARK11" id="app4">
				<label for="app4">3DMARK11</label><br>
				<input type="checkbox" name="app5" value="TIMESPY" id="app5">
				<label for="app5">TIMESPY</label>
				<input type="checkbox" name="app6" value="TIMESPY-TEXT" id="app6">
				<label for="app6">TIMESPY-TEXT</label>
				<input type="checkbox" name="app7" value="TIMESPY_GT2" id="app7">
				<label for="app7">TIMESPY_GT2</label>
				<input type="checkbox" name="app8" value="FIRESTRIKE" id="app8">
				<label for="app8">FIRESTRIKE</label><br>
				<input type="checkbox" name="app9" value="VP12" id="app9">
				<label for="app9">VP12</label>
				<input type="checkbox" name="app10" value="VP2020" id="app10">
				<label for="app10">VP2020</label>
				<input type="checkbox" name="app11" value="IDLE" id="app11">
				<label for="app11">IDLE</label>
				<input type="checkbox" name="app12" value="MODS_IDLE" id="app12">
				<label for="app12">MODS_IDLE</label><br>
				<input type="checkbox" name="app13" value="Caffe2" id="app13">
				<label for="app13">Caffe2</label>
				<input type="checkbox" name="app14" value="MODS_GEMM" id="app14">
				<label for="app14">MODS_GEMM</label>
				<input type="checkbox" name="app15" value="MODS_NVLink" id="app15">
				<label for="app15">MODS_NVLink</label>
				<input type="checkbox" name="app16" value="MODS_L0Active" id="app16">
				<label for="app16">MODS_L0Active</label><br>
				<input type="checkbox" name="app17" value="NVMT_CUDA" id="app17">
				<label for="app17">NVMT_CUDA</label>
				<input type="checkbox" name="app18" value="STREAM" id="app18">
				<label for="app18">STREAM</label>
				<input type="checkbox" name="app19" value="MODS_Test" id="app19">
				<label for="app19">MODS_Test</label>
				<input type="checkbox" name="app20" value="VLC" id="app20">
				<label for="app20">VLC</label><br>
				<input type="checkbox" name="app21" value="MODS_INTERACTIVE_IDLE" id="app21">
				<label for="app21">MODS_INTERACTIVE_IDLE</label><br><br>
				
				<input type="checkbox" name="is_Autochar_Configure" value="is_Autochar_Configure" id="is_Autochar_Configure" onclick="showHide('is_Autochar_Configure','Register_Write_Detail')"/>
				<label for="is_Autochar_Configure">Select the checkbox to write registers and set NVVDD, GPCCLK and MCLK values</label><br>
				<p id = "Register_Write_Detail" style="display:none;">
					Enter the register's relative address and value (add1:value1,add2:value2,add3:value3........) for every iteration<br>
					Example- 0x009a0890:0xEE213F88,0x009a0891:0xEE213F80.......<br>
					Leave blank if the iteration is not needed<br>
					Iteration1:<input type = "string" name="iteration1"><br>
					Iteration2:<input type = "string" name="iteration2"><br>
					Iteration3:<input type = "string" name="iteration3"><br>
					Iteration4:<input type = "string" name="iteration4"><br>
					Iteration5:<input type = "string" name="iteration5"><br>
					Iteration6:<input type = "string" name="iteration6"><br>
					Iteration7:<input type = "string" name="iteration7"><br>
					Iteration8:<input type = "string" name="iteration8"><br>
					Iteration9:<input type = "string" name="iteration9"><br>
					Iteration10:<input type = "string" name="iteration10"><br><br>
					NVVDD VALUE -- <input type = "string" name="NVVDD"><br>
					GPCCLK RANGE(MHz) -- FROM:<input type = "string" name="GPCCLK_Initial"> TO:<input type = "string" name="GPCCLK_Final"> IN STEPS OF:<input type = "string" name="GPCCLK_Step"><br>
					MCLK RANGE(MHz)   -- FROM:<input type = "string" name="MCLK_Initial">   TO:<input type = "string" name="MCLK_Final"> IN STEPS OF:<input type = "string" name="MCLK_Step"><br><br>
				</p>	
			</p>
		</p>		
			
		<br>
		
		<p id = "CWD_Detail">
			Enter current working directory for the Test System(default: /mnt/storage/mods): <input type = "string" name="CWD">
		</p>
		
		<br>
		
		<p>
			Name the process for identification(optional):<input type ="string" name="pName">
		</p>
		
		
		<p>
			<input type="submit">
		</p>
	
	</form>
	
	<p style = "text-align:right;">
	<a href = "/">Go back to the home page</a>
{% else %}
    <p><a href = "/login">Login</a> or <a href = "/register">Create account</a></p>
{% endif %}
</body>
</html>	
